<section class="max-w-screen-lg space-y-8 p-10 mx-auto">
  <p class="text-xl">
    Luptatia Quis,<br/>Sum Veles.
  </p>

  <p class="text-lg">
    Luptatia cumet, sum veles nam laborec tempor si voluptat aute voluptur lorem ispum dolorpostrum.
  </p>

  <p class="text-base">
    Ostius, essequas verempo rrorerumqui to dolorpostrum est, si dolor aute vel ium aut etur sequidest, voluptu rehente eosam, quis et quis dellor modigen ditionse porro bearum, eum fuga. Luptatia cumet, sum veles nam laborec tempor si voluptat aute voluptur? Imus autempe llecturis voloria. volorum. Ehenitatibus. Nam necustem velecum.
  </p>

  <p class="text-sm max-w-md">
    Ostius, essequas verempo rrorerumqui to dolorpostrum est, si dolor aute vel ium aut etur sequidest, voluptu rehente eosam, quis et quis dellor modigen ditionse porro bearum, eum fuga. Luptatia cumet, sum veles nam laborec tempor si voluptat aute voluptur? Imus autempe llecturis voloria. volorum. Ehenitatibus. Nam necustem velecum.
  </p>

  <div class="grid grid-cols-3 grid-rows-2 h-64 gap-10">
    <div class="bg-red-600"></div>
    <div class="bg-orange-600"></div>
    <div class="bg-yellow-600"></div>
    <div class="bg-green-600"></div>
    <div class="bg-blue-600"></div>
    <div class="bg-purple-600"></div>
  </div>
</section>

{% schema %}
  {
    "name": "Theme Styles",
    "presets": [
      {
        "name": "Theme Styles",
        "category": "Demo"
      }
    ]
  }
{% endschema %}
